html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  } 

.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
  }
  
  .display {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .display .value {
    font-size: 24px;
    font-weight: bold;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  button:active {
    background-color: #c0c0c0;
  }
  